<div id="page-content">
  <div class="container" id="home-container">  
    <div class="jumbotron text-center text-white">
      <h1 class="display-4 text-white"> Alpha Blog</Blog></h1>
      <p class="lead">Come get lost in the mind of Sciddy Bipson</p>
      <hr class="my-4">
      <p>Warning: many who have entered have not come out.</p>
      <a class="btn btn-success btn-lg" href="#" role="button">Sign Up!</a>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center text-white">
    <small>Copyright &copy; <%= link_to "Scott Bobsin", "https://plowsquad.com", class: "text-white"%></small>
  </div>
</footer>
