<div class="container" id="home-container">  
  <div class="jumbotron text-center text-white">
    <h1 class="display-4 mb-4 text-white">  The Greasy Card</Blog></h1><br/><br/>
    <p class="lead mt-8 mb-8"> </p>
    <hr class="my-5 text-black">
    <p>The family recipes of a generation are no longer secret</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign Up!</a>
  </div>
</div>



